*/Projects/*/*.pdf
*/Projects/*/*.html
*/HWs/HW*/HW?.pdf
*/HWs/HW*/HW?_sol.pdf
*.aux
*.log
*.gz
*/Lectures/*.html
*/Lectures/*.pdf
*/Lectures/*.Rmd
*/Lectures/*.tex
*/Lectures/*.R
*/Lectures/*Output/*
*/Lectures/figure/*
*/Exams/*.tex
*/Exams/*.pdf
docs/_site
docs/.sass-cache
*.DS_Store
*.Rhistory
*.RData
